/*
Reset default styles 
*/
:root{
    --light-bg:#f1ffab;
    --text: #ffabca;
}
*{
    margin: 0;
    padding: 0;
}

/*
base page layout 
*/
html,body {
    height: 100%;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--light-bg);
    color:var(--text)
}
nav{
    background-color: silver;
    padding: 18px 30px;
    position: sticky;
    top: 0;
    white-space: nowrap;
    text-align: center;
    box-shadow: 0 10px 25px rgb(red, green, blue);
}

nav h2 {
    display: inline-block;
    font-size: 20pt;
    font-weight: 600;
    margin-right: 20px;
    color: white;
}

nav a{
    display: inline-block;
    margin: 0 15px;
    font-weight: 500;
    text-decoration: none;
    font-size: 15pt;
    padding: 5px;
}
nav a:hover{
    color: white;
    background-color: cyan;
}

.btn {
    background-color: tan;
    color: wheat;
    padding: 10px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20pt;
    cursor: pointer;
}
button {
     background-color: whitesmoke;
    color: red;
    padding: 10px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: royalblue;
}

.container{
width: 85%;
margin: auto;
padding: 40px 0px;
}

.cards{
    text-align: center;
}
.card{
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
.card:hover{

}
.card h3 {
    margin-bottom: 10px;
}

input,textarea{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
}

input:focus{
    border-color: chartreuse;
    background-color: skyblue;
}

footer {
    background-color: slategray;
    color: white;
    padding: 15px 25px;
    text-align: center;
    width: 100%;
    margin-top: 0px;

}

h2 {
    text-align: center;
}
